Link nộp: https://forms.gle/1HZReoNqRtcyex9T9

Link bài sửa Lab 3: https://drive.google.com/file/d/1TX20076c_DT-uyOaRCicPCsxvcu--sFI/view?usp=sharing

**You are a data analyst for a telecommunications company. The company wants to predict whether a customer is likely to churn (cancel the service) within the next six months, based on various factors.**

You are provided with a CSV file containing the following columns:

* CustomerID: Unique identifier for the customer.

* tenure: Number of months the customer has used the service.

* TotalCharges: Total amount paid by the customer.

* MonthlyCharges: Monthly fee the customer pays.

* PhoneService, InternetService: if customer pays for these services

* Churn: Label 1 if the customer churned, 0 if they stayed.

### Your Tasks

**T1**: Calculate basic statistics (mean, median, standard deviation) for numeric columns.
Identify and handle any missing values in the dataset by filling them with the median of the respective column.

**T2**: Build a Customer Class

+ The Customer class should have attributes:
customer_id, tenure, total_charges, monthly_charges, and churn. customer_id must be private.

+ Define a method to calculate a customer churn probability:

 churn_prob = 1 - (monthly_charges / total_charges) * (tenure / 12).

  This churn probability should return a value between 0 and 1 (Hint: max(0, min(churn_prob, 1)) )

+ Define a method to describe current status, output customer_id, churn probability, and current churn

+ Create 2 instances from the Class and call previous describe method


**T3**: Data Transformation and Preparation:

Use Functional Style Programming to prepare the data for modeling. (Apply map to one hot encoding string values)

**T4**: Build a Prediction Model with PyTorch:

+ Use the given model class to train and test on the data.

+ Split the dataset into training and testing sets in an 80:20 ratio.

+ Train the model and evaluate its accuracy on the test set.

+ Report the Results: Print the model's accuracy on the test set and output the top 5 customers with the highest churn probability based on the trained model.

In [ ]:
import torch.nn as nn
import torch
import torch.optim as optim

class LinearRegressionModel(nn.Module):
    def __init__(self, input_dim):
        super().__init__()
        self.fc1 = nn.Linear(input_dim, 64)
        self.fc2 = nn.Linear(64, 32)
        self.fc3 = nn.Linear(32, 1)

        self.relu = nn.ReLU()
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = self.fc1(x)
        x = self.relu(x)
        x = self.fc2(x)
        x = self.relu(x)
        x = self.fc3(x)
        return self.sigmoid(x)

criterion = nn.BCELoss()
model = LinearRegressionModel(5) # 5 features
optimizer = optim.SGD(model.parameters(), lr=1e-6)

## Một số hàm cần thiết chưa có trong bài

In [ ]:
# Chia train test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
torch.FloatTensor(tensor_input)

In [ ]:
# Có thể train toàn bộ X_train, y_train thay vì chia batch nếu data nhỏ
# Các bước còn lại vẫn tương tự lec5
for epoch in range(num_epochs):
    model.train()

    outputs = model(X_train)
    loss = criterion(outputs, y_train)

    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

    if (epoch+1) % 10 == 0:
        print()

# Your assignment

In [ ]:
# Your directory
cd /content/drive/MyDrive/

/content/drive/MyDrive

In [85]:
file_path = "Churn.csv"

In [87]:
import pandas as pd

data = pd.read_csv(file_path)
data

,customerID,tenure,PhoneService,InternetService,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,True,29.85,29.85,No
1,5575-GNVDE,34,Yes,True,56.95,1889.50,No
2,3668-QPYBK,2,Yes,True,53.85,108.15,Yes
3,7795-CFOCW,45,No,True,42.30,1840.75,No
4,9237-HQITU,2,Yes,True,70.70,151.65,Yes
...,...,...,...,...,...,...,...
7038,6840-RESVB,24,Yes,True,84.80,1990.50,No
7039,2234-XADUH,72,Yes,True,103.20,7362.90,No
7040,4801-JZAZL,11,No,True,29.60,346.45,No
7041,8361-LTMKD,4,Yes,True,74.40,306.60,Yes
7042,3186-AJIEK,66,Yes,True,105.65,6844.50,No

In [89]:
data.describe()

            tenure  MonthlyCharges  TotalCharges
count  7043.000000     6903.000000   6892.000000
mean     32.371149       64.719564   2286.627307
std      24.559481       30.084355   2267.279808
min       0.000000       18.250000     18.800000
25%       9.000000       35.500000    401.762500
50%      29.000000       70.300000   1401.000000
75%      55.000000       89.850000   3805.137500
max      72.000000      118.750000   8684.800000

In [91]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerID       7043 non-null   object
 1   tenure           7043 non-null   int64
 2   PhoneService     7043 non-null   object
 3   InternetService  7043 non-null   bool
 4   MonthlyCharges   6903 non-null   float64
 5   TotalCharges     6892 non-null   float64
 6   Churn            7043 non-null   object
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 337.1+ KB

In [93]:
tmp1 = data.MonthlyCharges
tmp2 = data.TotalCharges
median_mothlyCharges = tmp1.median()
median_TotalCharges = tmp2.median()

data['MonthlyCharges'].fillna(median_mothlyCharges, inplace=True)
data['TotalCharges'].fillna(median_TotalCharges, inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerID       7043 non-null   object
 1   tenure           7043 non-null   int64
 2   PhoneService     7043 non-null   object
 3   InternetService  7043 non-null   bool
 4   MonthlyCharges   7043 non-null   float64
 5   TotalCharges     7043 non-null   float64
 6   Churn            7043 non-null   object
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 337.1+ KB

In [95]:
class Customer:
    def __init__(self, _customer_id, tenure, total_charges, monthly_charges, churn ):
        self._customer_id = _customer_id
        self.tenure = tenure
        self.total_charges = total_charges
        self.monthly_charges = monthly_charges
        self.churn = churn
        
    def cusChurnPro(self):
        churn_prob = 1 - (self.monthly_charges / self.total_charges) * (self.tenure / 12)
        return max(0, min(churn_prob, 1))
    
    def describeCurrentStatus(self):
        return (f"Customer ID: {self._customer_id}, "
                f"Churn Probability: {self.cusChurnPro()}, "
                f"Current Churn: {self.churn}")

A = Customer(1, 100, 100, 100, 'No')
B = Customer(2, 100, 100, 100, 'Yes')

print(A.describeCurrentStatus())
print(B.describeCurrentStatus())

Customer ID: 1, Churn Probability: 0, Current Churn: No
Customer ID: 2, Churn Probability: 0, Current Churn: Yes

In [97]:
data.PhoneService = data.PhoneService.map({"Yes" : 1, "No": 0})
data.InternetService = data.InternetService.map({True: 1, False:0})
data

,customerID,tenure,PhoneService,InternetService,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,0,1,29.85,29.85,No
1,5575-GNVDE,34,1,1,56.95,1889.50,No
2,3668-QPYBK,2,1,1,53.85,108.15,Yes
3,7795-CFOCW,45,0,1,42.30,1840.75,No
4,9237-HQITU,2,1,1,70.70,151.65,Yes
...,...,...,...,...,...,...,...
7038,6840-RESVB,24,1,1,84.80,1990.50,No
7039,2234-XADUH,72,1,1,103.20,7362.90,No
7040,4801-JZAZL,11,0,1,29.60,346.45,No
7041,8361-LTMKD,4,1,1,74.40,306.60,Yes
7042,3186-AJIEK,66,1,1,105.65,6844.50,No

In [ ]:
import torch.nn as nn
import torch
import torch.optim as optim

class LinearRegressionModel(nn.Module):
    def __init__(self, input_dim):
        super().__init__()
        self.fc1 = nn.Linear(input_dim, 64)
        self.fc2 = nn.Linear(64, 32)
        self.fc3 = nn.Linear(32, 1)

        self.relu = nn.ReLU()
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = self.fc1(x)
        x = self.relu(x)
        x = self.fc2(x)
        x = self.relu(x)
        x = self.fc3(x)
        return self.sigmoid(x)

criterion = nn.BCELoss()
model = LinearRegressionModel(5) # 5 features
optimizer = optim.SGD(model.parameters(), lr=1e-6)