# Python for Data Science
## Lab 2:
### Nguyen Xuan Viet Duc - 22280012

#### I. Probability & Statistics questions:

1. The probability of passing three candidates A, B, and C in one interview are 60%, 10%, and 20% respectively. Find the probability of success of at least two
- Let P be the probability that the candidate passes the interview round: P(A) = 0.6, P(B) = 0.1 and P(C) = 0.2
- The probability that candidate A and B pass, and candidate C fails: 
    P_AB = P(A) * P(B) * (1 - P(C)) => P_AB = 0.6 * 0.1 * 0.8 = 0.048
- The probability that candidate A and C pass, and candidate B fails: 
    P_AC = P(A) * P(C) * (1 - P(C)) => P_AC = 0.6 * 0.2 * 0.9 = 0.108
- The probability that candidate B and C pass, and candidate A fails: 
    P_BC = P(B) * P(C) * (1 - P(A)) => P_BC = 0.1 * 0.2 * 0.4 = 0.008
- The probability that all three candidates A, B and C pass: 
    P_ABC = P(A) * P(B) * P(C) => P_ABC = 0.6 * 0.1 * 0.2 = 0.012
-> The probability of success of at least two: 
    P_atLeastTwo = P_AB + P_AC + P_BC + P_ABC = 0.048 + 0.108 + 0.008 + 0.012 = 0.176

2. Nine cards are drawn from a deck of 52 cards. What is the probability that 5 cards are diamonds and 2 are hearts and 2 are kings?
Case 1:
- The probability of drawing 5 diamond cards without any king among them: P_d1 = (12C5)/(52C5) "C is the combination operation"
- The probability of drawing 2 heart cards without any king among them: P_h1 = (12C2)/(47C2)
- The probability of drawing 2 king cards where neither is a diamond nor a heart: P_k1 = 2/(45C2)
-> P1 = P_d1 * P_h1 * P_k1 = 3.756*10^(-8) 
Case 2:
- The probability of drawing 5 diamond cards with exactly 1 king among them: P_d2 = 1/52 * (12C4)/(51C4)
- The probability of drawing 2 heart cards with exactly 1 king a mong them: P_h2 = 1/47 * 12/46
- The probability of drawing 2 cards from the remaining deck that do not contain any diamond or heart: P_t1 = (26C2)/(45C2)
-> P2 = P_d2 * P_h2 * P_t1 = 6.941*10^(-8)
Case 3:
- The probability of drawing 5 diamond cards with exactly 1 king among them: P_d3 = 1/52 * (12C4)/(51C4)
- The probability of drawing 2 heart cards without any king among them: P_h3 = (12C2)/(47C2)
- The probability of drawing 2 cards from the remaining deck where 1 card is king, and neither card is a diamond or heart:
    P_t2 = 2/45 * 24/44 
-> P3 = P_d3 * P_h3 * P_t2 = 5.638*10^(-8)
Case 4:
- The probability of drawing 5 diamond cards without any king among them: P_d4 = (12C5)/(52C5)
- The probability of drawing 2 heart cards with exactly 1 king a mong them: P_h4 = 1/47 * 12/46
- The probability of drawing 2 cards from the remaining deck where 1 card is king, and neither card is a diamond or heart:
    P_t3 = 2/45 * 24/44 
-> P4 = P_d4 + P_h4 + P_t3 = 4.1*10^(-8)

The probability that 5 cards are diamonds and 2 are hearts and 2 are kings:
    P = P1 + P2 + P3 + P4 = 1.07*10^(-7)

3. There are transactions from banks A, B, and C at your company. About 30% of the population comes from A, 20% from B, and 50% from C. Knowing that there is a 
chance of fraud in the transaction history. The percentages for banks A, B, andC 
are 3%, 5%, and 4%
, respective  .
Which bank will most likely belong in the event of fraud detect
- The probability of transaction coming from bank A, B and C: P(A) = 0.3; P(B) = 0.2; P(C) = 0.5
- The probability of fraud given the bank: P(F|A) = 0.03; P(F|B) = 0.05; P(F|C) = 0.04
- The probability of banks A, B, or C given that the transaction is fraudulent according to Bayes' theorem: 
    P(A|F) = [P(F|A) * P(A)] / P(F)
    P(B|F) = [P(F|B) * P(B)] / P(F)
    P(C|F) = [P(F|C) * P(C)] / P(F)
- Where we have: P(F) = P(F|A) * P(A) + P(F|B) * P(B) + P(F|C) * P(C)
                      = 0.3 * 0.03 + 0.2 * 0.05 + 0.5 * 0.04 = 0.039
-> P(A|F) = 0.231
-> P(B|F) = 0.256
-> P(C|F) = 0.513

Thus, the bank with the highest probability in the case that the transaction is fraudulent is banon?

4. Assume that the amount of transaction in Service X in your company follow the Normal distribution with mean µ. A random sample of 250000 transactions yielded an average amount of 𝑥 ̅= 525 000 VND, and the standard deviation of the 250 000 transactions is found to be 
s = 28 340. A 90% confidence interval for µ is (Hint: The t critical value for 90% CI for Degrees of freedom = 24 is 1.711) 
- x̄ = 525 000 VND
- s = 28 340
- n = 250 000
- Confidence level = 90% => alpha = 0.1
- Since the sample size is large (n>=30), the z-statistic will be used instead of the t-statistic: Z-score = 1.645
        epsilon = Z(alpha/2) * s/sqrt(n) = 1.645 * 28340 / sqrt(250000) = 93.2368 (VND)
- With a 90% confidence level, the confidence interval for muy is:
        x̄ - epsilon <= µ <= x̄ + epsilon 
->      524906.7632 <= µ <= 525093.2368 (VND)

#### II. Data & Coding:

In [3]:
import pandas as pd

df = pd.read_csv('transaction_data.csv')
df

,UserId,TransactionId,TransactionTime,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,Country
0,278166,6355745,Sat Feb 02 12:50:00 IST 2019,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,United Kingdom
1,337701,6283376,Wed Dec 26 09:06:00 IST 2018,482370,LONDON BUS COFFEE MUG,3,3.52,United Kingdom
2,267099,6385599,Fri Feb 15 09:45:00 IST 2019,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,France
3,380478,6044973,Fri Jun 22 07:14:00 IST 2018,459186,UNION JACK FLAG LUGGAGE TAG,3,1.73,United Kingdom
4,-1,6143225,Mon Sep 10 11:58:00 IST 2018,1733592,WASHROOM METAL SIGN,3,3.40,United Kingdom
...,...,...,...,...,...,...,...,...
1083813,313131,6040298,Mon Jun 18 09:18:00 IST 2018,437976,DENIM PATCH PURSE PINK BUTTERFLY,30,2.28,EIRE
1083814,295743,6387117,Sat Feb 16 09:14:00 IST 2019,484113,RECYCLED ACAPULCO MAT PINK,6,11.39,United Kingdom
1083815,-1,6361817,Tue Feb 05 05:26:00 IST 2019,497595,DOILY THANK YOU CARD,15,1.15,United Kingdom
1083816,324765,5945500,Fri Mar 23 06:26:00 IST 2018,470883,REGENCY CAKESTAND 3 TIER,48,15.12,United Kingdom
1083817,351645,6118145,Tue Aug 21 08:21:00 IST 2018,471849,HEART OF WICKER SMALL,9,2.28,United Kingdom

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083818 entries, 0 to 1083817
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1083818 non-null  int64
 1   TransactionId           1083818 non-null  int64
 2   TransactionTime         1083818 non-null  object
 3   ItemCode                1083818 non-null  int64
 4   ItemDescription         1080910 non-null  object
 5   NumberOfItemsPurchased  1083818 non-null  int64
 6   CostPerItem             1083818 non-null  float64
 7   Country                 1083818 non-null  object
dtypes: float64(1), int64(4), object(3)
memory usage: 66.2+ MB